[submodule "themes/hisrocket-linear"]
	path = themes/hisrocket-linear
	url = git@github.com:eehah5ru/hisrocket-theme.git
[submodule "themes/hisrocket-single-image"]
	path = themes/hisrocket-single-image
	url = git@github.com:eehah5ru/hisrocket-theme.git
[submodule "themes/hisrocket-linear-fixed-height"]
	path = themes/hisrocket-linear-fixed-height
	url = git@github.com:eehah5ru/hisrocket-theme.git
[submodule "themes/hisrocket-canvas"]
	path = themes/hisrocket-canvas
	url = git@github.com:eehah5ru/hisrocket-theme.git
[submodule "themes/hisrocket-vertical"]
	path = themes/hisrocket-vertical
	url = git@github.com:eehah5ru/hisrocket-theme.git
